seaborn==0.11.2
scipy==1.5.4
pandas==1.1.5

opencv-python-headless==4.5.4.60
# av==8.0.3
av==6.2.0
Pillow==8.4.0
matplotlib==3.3.4
kiwisolver==1.3.1
numpy==1.19.5

PyYAML==6.0.0
pydantic==1.8.2

tqdm==4.62.3

requests==2.26.0

pyHik==0.3.0
